.container_banner {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.banner {
  background-image: url('../../../../public/banner10.png');
  background-size: cover;
  width: 100%;
  height: 150px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.banner > h1 {
  color: #e3bb42ff;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  width: 80%;
  font-size: 1em;
  margin-bottom: 10px;
}

.depoimentos {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.depoimentos > h2 {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

.depoimentos > p {
  text-align: center;
  padding: 10px;
}

.falas {
  display: flex;
  overflow-x: auto;
  flex-flow: row nowrap;
}

.falas::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.falas::-webkit-scrollbar-thumb {
  background-color: #e3bb42ff;
  border-radius: 5px;
}

.falas::-webkit-scrollbar-track {
  background-color: lightgray;
}

.falas > div {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 200px;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
  text-align: center;
  padding: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.279);
}

.img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.icons {
  color: yellow;
}

@media screen and (min-width: 768px) {
  .banner {
    height: 400px;
  }

  .banner > h1 {
    margin: 10px 0;
    font-size: 2em;
  }

  .depoimentos > h2 {
    font-size: 1.8em;
  }

  .depoimentos > p {
    font-size: 1.1em;
  }

  .falas {
    max-width: 1024px;
    margin: auto;
  }

  .falas > div {
    flex: 0 0 calc(25% - 10px);
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .banner {
    height: 500px;
  }
}