.container_equipe {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
}

.btn {
  margin: auto;
}

.servicos {
  max-width: 1024px;
  width: 100%;
}

.container_equipe > h2 {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

.container_equipe > p {
  text-align: center;
  padding: 10px;
}

.servicos {
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  gap: 20px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.238);
}

.img_texto {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

.texto > h3 {
  display: flex;
  text-align: start;
  margin-bottom: 10px;
  width: 100%;
}

.texto > p {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .servicos {
    max-width: 1024px;
    flex-flow: row wrap;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
    padding: 20px
  }

  .container_equipe > h2 {
    font-size: 1.6em;
  }

  .container_equipe > p {
    font-size: 1.1em;
  }

  .img_texto {
    flex: 0 1 calc(50% - 20px);
  }

  .texto {
    max-width: 450px;
  }

  .texto > h3 {
    font-size: 1.5em;
  }

  .texto > p {
    font-size: 1.1em;
  }
}
