.container_header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #e3bb42ff;
  text-align: center;
  gap: 5px;
}

.img {
  width: 100px;
  height: 50px;
}

.container_header > div > nav {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px;
  gap: 5px;
}

.link {
  text-decoration: none;
  margin-left: 10px;
  color: white;
}


@media screen and (min-width: 768px) {
  .container_header {
    justify-content: center;
    flex-flow: row wrap;
    padding: 20px 100px;

    position: fixed;
    top: 0;
    z-index: 100;
  }

  .container_header > div {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1em;
  }

  .container_header > div > nav {
    flex-flow: row wrap;
  }

  .link:hover {
    color: #e4bc43;
    text-decoration: underline;
  }
}