.container_botao button {
  padding: 10px;
  border-radius: 5px;
  background-color: #e3bb42ff;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 1px solid transparent;
}

.container_botao a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .container_botao button:hover {
    background-color: #fff;
    color: #e4bc43;
    border: 1px solid #e4bc43;
  }
}