.container_rodape {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 20px;
  width: 100%;
  text-align: center;
  gap: 5px;
}

.img {
  width: 100px;
  height: 50px;
  margin-bottom: 20px;
}

.container_rodape > div > nav {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: white;
}

.icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.sociais_icons {
  color: white;
  width: 20px;
  height: 20px;
}

.autor {
  justify-content: center;
  text-align: center;
  color: white;
  font-size: .8em;
}

@media screen and (min-width: 768px) {
  .container_rodape {
    justify-content: center;
    flex-flow: row wrap;
    padding: 20px 100px;
  }

  .container_rodape > div {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .container_rodape > div > nav {
    flex-flow: row wrap;
  }

  .link:hover {
    color: #e3bb42ff;
    text-decoration: underline;
  }

  .autor {
    display: flex !important;
    justify-content: center !important;
  }
}
